<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.DAO">
	<insert id="insert" parameterType="com.wheresming.database.">	
			insert into t_member values(#{mb_id},#{mb_pw},#{mb_nick},#{mb_email}#{mb_joindate},#{mb_type})
	</insert>